@model IEnumerable<EmployeeManagementSystem.Models.Employee>

@{
    ViewBag.Title = "Employees";
}

<h2>Employees</h2>
@using (Html.BeginForm("Index", "Employees", FormMethod.Get))
{
    <input type="text"
           name="searchTerm"
           placeholder="Search by Name" />

    <button type="submit">
        Search
    </button>
}

<p>
    <a href="/Employees/Create" class="btn btn-primary">
        Add Employee
    </a>
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Department</th>
            <th>Salary</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.Name</td>
                <td>@employee.Email</td>
                <td>@employee.Department</td>
                <td>@employee.Salary</td>
                <td>
                    <a href="/Employees/Edit/@employee.Id">Edit</a>
                    <a href="/Employees/Delete/@employee.Id">Delete</a>

                </td>

            </tr>
        }
    </tbody>
</table>

